@import "tailwindcss";
@import "@heroui/styles";

:root {
  --as-base: #c2743c;
  --as-highlight: rgba(255, 255, 255, 0.9);

  &.dark {
    --as-base: #362e2e;
    --as-highlight: rgba(245, 237, 237, 0.463);
  }
}
/* 
.slick-slide {
  overflow: visible !important;
}

.slick-list {
  overflow: visible !important;
} */

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

[class*="button--primary"] {
  background-color: #f97316 !important;
}

[class*="button--secondary"] {
  color: #f97316 !important;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, rgba(255, 107, 53, 0.20), transparent 38%), linear-gradient(100deg, #f5f1eb 0%, #fefaf6 100%)
}

.dark body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, rgba(255, 107, 53, 0.18), transparent 38%), linear-gradient(100deg, #0d1117 0%, #111827 100%)
}

/* Override HeroUI Accordion background */
[role="region"] {
  background-color: transparent !important;
}

.heroui-accordion {
  background-color: transparent !important;
}